// Pixeles a em
@function em($pixels, $context: 10) {
  @if (unitless($pixels)) {
    $pixels: $pixels * 1px;
  }

  @if (unitless($context)) {
    $context: $context * 1px;
  }

  @return $pixels / $context * 1em;
}

// Negro con opacidad
@function black($opacity) {
  @return rgba(black, $opacity);
}

// Blanco con opacidad
@function white($opacity) {
  @return rgba(white, $opacity);
}

// Mesclar color con blanco
@function tint($color, $porcentage) {
  @return mix(white, $color, $porcentage);
}

// Mesclar color con negro
@function shaded($color, $porcentage) {
  @return mix(black, $color, $porcentage);
}

@function getColor($color-name, $color-variant: '500') {
  $color: map-get(map-get($colors, $color-name),$color-variant);
  @if $color {
    @return $color;
  } @else {
    // Libsass still doesn't seem to support @error
    @warn "=> ERROR: COLOR NO ENCONTRADO!";
  }
}
