/*

	Name: Ars1
	Author: Arsi Larrondo
	Author Web: arsi.cl
	Version: 1.0.0

*/

/*

************ ¡ A T E N C I Ó N ! / ¡ W A R N I N G ! *************
- Hoja de estilos creada con SASS, No modificar. / StyleSheet created with SASS, Don´t modify.

*/

// Configuración / Config
@import "config";

// Auxiliares / Helpers
@import "helpers/colors";
@import "helpers/functions";
@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/mediaqueries";

// Externos / Vendors
@import "vendors/normalize";
@import 'vendors/animate-it';
